/*LOADER*/
.loader-container {
  height: 100vh;
  width: 100vw;
  background-color: #fffdf3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container h1 {
  margin: 0;
  text-align: center;
  font-size: 200px;
  overflow: hidden;
  line-height: 1;
}
.loader-container h1 p {
  position: relative;
  padding: 4rem 10rem 4rem 4rem;
  margin-bottom: 5rem;
  display: flex;
  animation: reveal 2s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.loader-container h1 p span {
  font-size: 32px;
}

#spin {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #f98e18;
}
#spin:after {
  content: '';
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    content: 'creative';
  }
  10% {
    content: 'logical';
  }
  20% {
    content: 'amazing';
  }
  30% {
    content: 'crazy';
  }
  40% {
    content: 'adaptive';
  }
  50% {
    content: 'experienced';
  }
  60% {
    content: 'fast';
  }
  70% {
    content: 'professionals';
  }
  80% {
    content: 'the best';
  }
  90% {
    content: 'TUXDI';
  }
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
